In [1]:
import math
import statistics
import numpy as np
import scipy.stats
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
import pandas as pd
data = pd.read_csv('drive/My Drive/Colab Notebooks/chapter_3_hw_3.2.csv', sep=',', na_values=".")

data

   Bearing  diameter(mm)
0        1        50.001
1        2        50.002
2        3        49.998
3        4        50.006
4        5        50.005
5        6        49.996
6        7        50.003
7        8        50.004

In [14]:
x = [50.001,50.002,49.998,50.006,50.005,49.996,50.003,50.004]

mean_1 = np.mean(x)

mean_1

50.001875

In [16]:
x = [50.001,50.002,49.998,50.006,50.005,49.996,50.003,50.004]


standard_deviation = statistics.stdev(x)

standard_deviation

0.0034408263127171375